<php>
    $banner=M('document_newsimg as a')
            ->join('modao_picture as b on a.img=b.id')
            ->order('a.id desc')
            ->field('a.*,b.path')
            ->limit(1)
            ->find();
    $top = M('document_solution_tent')->where('top=1')->order('id desc')->limit(10)->select();
</php>
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>化工</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/huogong/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/huogong/css/custom.css"/>
    <script src="__STATIC__/huogong/js/script.js"></script>
    <script src="__STATIC__/huogong/js/custom.js"></script>
    <style>

    </style>
</head>
<body style="display: none;">
<!-------------------------------------- 头部开始 -------------------------------------->
<include file="Public/head1"/>
<!-------------------------------------- 头部结束 -------------------------------------->
<!-------------------------------------- 主体开始 -------------------------------------->
<main>
    <div class="ui-fullpart nopd">
        <div class="ui-banner">
            <div class="img" style="background-image: url({$banner['path']});">
                <div class="tt">
                    <h3>{$banner['adv_name']}</h3>
                    <p>{$banner['adv_ename']}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-fullpart">
        <div class="container">
            <div class="ui-newslrct">
                <div class="l">
                    <div class="ui-newslist">
                        <ul>
                            <volist name="list" id="v">
                            <li>
                                <php>
                                    $content=M('document_solution_tent')->where("id=$v[id]")->find();
                                    $img=M('picture')->where("id=$content[img]")->find();
                                </php>
                                <a href="{:U('Article/detail?id='.$v['id'])}" class="i"><img src="{$img['path']}" alt="">
                                    <div class="ct">
                                        <h3>{$v['title']}</h3>
                                        <p>{$content['solution_con']|msubstr=0,106}</p>
                                        <h5>{$v['creat_time'|date="Y-m-d",###]}</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            </volist>
                        </ul>
                    </div>
                    <div class="ht30"></div>
                    <div class="ui-paging">
                        <article:page cate="$category['id']" listrow="$category['list_row']" />
                    </div>
                </div>
                <div class="r">
                    <div class="ui-leftnote">
                        <div class="hd">
                            <p>为您推荐</p>
                        </div>
                        <div class="ct">
                            <ul>
                                <volist name="top" id="v">
                                    <li>
                                        <p><a href="{:U('Article/detail?id='.$v['id'])}">{$v['sname']|msubstr=0,13}</a></p>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</main>
<!-------------------------------------- 主体结束 -------------------------------------->
<!-------------------------------------- 尾部开始 -------------------------------------->
<include file="Public/footer1"/>
<!-------------------------------------- 尾部开始 -------------------------------------->
<script>
    var count = $('.ui-paging a').length;
    if(count >2){
        $(".ui-paging a:first-child").html("<<");
        $(".ui-paging a:last-child").html(">>");
    }else{
        $(".ui-paging a").remove();
    }
</script>
</body>
</html>
