<php>
	$banner=M('document_classic_adv as a')
			->join('modao_picture as b on a.img=b.id')
			->order('a.id desc')
			->field('a.*,b.path')
			->limit(1)
			->find();
	$type=M('attribute')->where('id=154')->find();
	$type=parse_field_attr($type['extra']);
</php>
<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<title>化工</title>
		<link rel="stylesheet" type="text/css" href="__STATIC__/huogong/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__STATIC__/huogong/css/custom.css"/>
		<script src="__STATIC__/huogong/js/script.js"></script>
		<script src="__STATIC__/huogong/js/custom.js"></script>
		<style>
			
		</style>
	</head>
	<body style="display: none;">
		<!-------------------------------------- 头部开始 -------------------------------------->
		<include file="Public/head1"/>
		<!-------------------------------------- 头部结束 -------------------------------------->
		<!-------------------------------------- 主体开始 -------------------------------------->
		<main>
			<div class="ui-fullpart nopd">
				<div class="ui-banner">
					<div class="img" style="background-image: url({$banner['path']});">
						<div class="tt">
							<h3>{$banner['adv_name']}</h3>
							<p>{$banner['adv_ename']}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="ui-fullpart pt" style="padding-top: 35px;">
				<div class="container">
					<div class="ui-typelist">
						<ul role="tablist">
							<volist name="type" id="v">
							<if condition="$i == $id"><li role="presentation" class="active"><else /><li role="presentation" class=""></if>
								<a href="{:U('Index/classic?id='.$i)}" class="i" role="tab">
									<p class="p1"><i class="ico<php>echo $i;</php>"></i></p>
									<p class="p2">{$v}</p>
								</a>
							</li>
							</volist>
							<div class="clearfix"></div>
						</ul>
					</div>
					<div class="ht25"></div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="tab1">
							<div class="ui-caselist">
								<ul>
									<volist name="list" id="v">
									<li>
										<a href="" class="i">
											<div class="img">
												<img src="{$v['path']}" alt="">
											</div>
											<div class="cnt">
												<h3>{$v['cname']}</h3>
												<p>{$v['content']}</p>
												<h5><label for="">相关网站</label></h5>
											</div>
											<div class="clearfix"></div>
										</a>
									</li>
									</volist>
								</ul>
							</div>
						</div>
						<div class="ui-paging">
							<article:page cate="$category['id']" listrow="$category['list_row']" />
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-------------------------------------- 主体结束 -------------------------------------->
		<!-------------------------------------- 尾部开始 -------------------------------------->
		<include file="Public/footer1"/>
		<!-------------------------------------- 尾部开始 -------------------------------------->
		<script>
            var count = $('.ui-paging a').length;
            if(count >2){
                $(".ui-paging a:first-child").html("<<");
                $(".ui-paging a:last-child").html(">>");
            }else{
                $(".ui-paging a").remove();
            }
		</script>
	</body>
</html>
